<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @cocktail.name %></h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li>
          <strong>
            <%=  dose.description %>
            <%=  dose.ingredient.name %>
          </strong>
        </li>
        <% end %>
      </ul>
      <%= link_to "All cocktails", cocktails_path, class: "btn btn-primary" %>
      <%= link_to "Add new cocktail dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    </div>
  </div>
</div>
