<h1>New dose for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.button :submit %>
<% end %>
