<%= simple_form_for [@cocktail, @review] do |f| %>
  <% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Add new review", class: 'btn btn-success rounded-pill' %>
<% end %>
